.contact-us {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: lightblue;
}

h1, h3 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  margin-bottom: 5px;
}

.form-group {
  text-align: left;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-right: 0px;
}

textarea {
  height: 120px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Existing styles... */

@media only screen and (max-width: 768px) {
  .contact-us {
    max-width: 100%;
    padding: 10px;
  }

  h1, h3 {
    font-size: 1.2em;
  }

  input,
  textarea {
    padding: 8px;
  }

  button[type="submit"] {
    padding: 8px 16px;
  }
}
